body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#0f172a,#2563eb);
}

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    background:white;
    padding:40px;
    width:380px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    text-align:center;
}

.login-card h1{
    color:#2563eb;
    margin-bottom:10px;
}

.subtitle{
    color:#666;
    margin-bottom:25px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
    box-sizing:border-box;
}

.login-card button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    margin-top:10px;
}

.login-card button:hover{
    background:#1d4ed8;
}

.register-text{
    margin-top:20px;
}

.register-text a{
    text-decoration:none;
    font-weight:bold;
    color:#2563eb;
}